#hoverZoomImg { 
	border: 1px solid #444; 
	display: none; 
	line-height: 0;
	overflow: hidden;
	padding: 2px;
	margin: 0;
	position: absolute;
	z-index: 2147483647;
	height: auto !important;
	width: auto !important;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#ededed), color-stop(0.5, #ffffff));
	-webkit-box-shadow: 2px 2px 8px #444;
}
#hoverZoomImg img { 
	border: none;
}
#hoverZoomImg .loading { 
	opacity: 0.8;
}
#hoverZoomImg .progress { 
	opacity: 0.5;
	position: absolute;
	height: 22px;
	width: 22px;
	left: 3px;
	top: 3px;
	border-radius: 2px;
}
#hoverZoomCaption {
	font: menu;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	text-align: center;
	max-height: 27px;
	overflow: hidden;
	vertical-align: top;
}
#hoverZoomResizedImg {
	position: absolute;
	top: -9000px;
	left: -9000px;
}