#hoverZoomImg { 
	background: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#ededed), color-stop(0.5, #ffffff));
	border: 1px solid #444; 
	border-radius: 3px;
	display: none; 
	line-height: 0;
	overflow: hidden;
	padding: 2px;
	margin: 0;
	position: absolute;
	z-index: 2147483647;
	-webkit-box-shadow: 2px 2px 8px #444;
}
#hoverZoomCaption {
	font: menu;
	text-align: center;
}